language: android

jdk:
  - oraclejdk8

sudo: required

cache:
  directories:
    # Android SDK
    - $HOME/android-sdk-dl
    - $HOME/android-sdk

    # Gradle dependencies
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

    # Android build cache (see http://tools.android.com/tech-docs/build-cache)
    - $HOME/.android/build-cache

android:
 components:
   # Uncomment the lines below if you want to
   # use the latest revision of Android SDK Tools
   - platform-tools
   - tools

   # The BuildTools version used by your project
   - build-tools-28.0.2

   # The SDK version used to compile your project
   - android-28
   - android-21

   # Additional components
   #- extra-google-google_play_services
   - extra-google-m2repository
   - extra-android-m2repository
   - sys-img-armeabi-v7a-android-21

before_install:
  - yes | sdkmanager "platforms;android-27"

before_script:
  # Do not cache a few Gradle files/directories (see https://docs.travis-ci.com/user/languages/java/#Caching)
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

matrix:
  include:
  - name: "Unit Test"
    script: .travis/travis_run_unit_test.sh
    after_success:
      - bash <(curl -s https://codecov.io/bash)
  - name: "Instrumentation Test"
    before_script: .travis/travis_create_avd.sh
    script: .travis/travis_run_instrumentation_test.sh
  - name: "Assemble"
    script: .travis/travis_run_instrumentation_test.sh