<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.felipehjcosta.appdetail">

    <application>

        <activity
            android:name=".view.DetailActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter
                android:autoVerify="true"
                android:order="2">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="marvelapp.instantappsample.com" />
                <data android:pathPrefix="/detail" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

    </application>
</manifest>
