<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.github.felipehjcosta.marvelapp.listing">

    <dist:module dist:instant="true" />
    <dist:module dist:onDemand="false" />

    <application tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity
            android:name=".view.CharacterListingActivity"
            android:label="@string/title_activity_listing"
            android:theme="@style/AppTheme.ActionBar">

            <intent-filter
                android:autoVerify="true"
                android:order="2"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="marvelapp.instantappsample.com" />
                <data android:pathPrefix="/listing" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

    </application>


</manifest>
