<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.felipehjcosta.marvelapp.detail">

    <application tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity
            android:name=".view.DetailActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar.Detail">

            <intent-filter
                android:autoVerify="true"
                android:order="2"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="marvelapp.instantappsample.com" />
                <data android:pathPrefix="/detail" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

    </application>
</manifest>
